//Primary & Secondary colors
$color-primary  : #51ddfc;
$color-secondary: #58e1c1;

//Button Colors
//Default button & Login button are $color-secondary: #58e1c1;
$btn-success : #63cc82;
$btn-error   : #e4757a;
$btn-warning : #fd7856;
$btn-info    : #927bc1;

//Grid System Colors
$grid-3 : #deb2ee;
$grid-4 : #7ee6fd;
$grid-5 : #88d9a0;
$grid-6 : #4da2bb;
$grid-7 : #ec9fa3;
$grid-8 : #fd9f85;
$grid-12 : #80e8d1;

//Lighten Functions
$btn-backround: $color-secondary;

//Fonts
$stack-sans-serif: 'Lato', sans-serif;

//Media Query Breakpoint
$brk-narrow : 768px;
